
/**
 *	Basic Layout Theme
 *
 *	This theme uses the default layout class-names for all classes
 *	Add any 'custom class-names', from options: paneClass, resizerClass, togglerClass
 */

.ui-layout-pane { /* all 'panes' */
    overflow: auto;
}

.ui-layout-resizer { /* all 'resizer-bars' */
    background: #DDD;
}

.ui-layout-toggler { /* all 'toggler-buttons' */
    background: #AAA;
} 